<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
  </head>

  <body>
    <footer class="footer">
      <div class="container">
          <div class="footer_content">
              <div class="footer_card">
                  <div class="content">
                      <h2 class="footer_h2">Subscribe<br>Newsletter</h2>
                      <div class="card_content">
                          <div class="text">
                              <h3 class="footer_h3">The Travel</h3>
                              <p class="footer_p">Get inspired! Receive travel discounts, tips and behind the scenes stories.</p>
                          </div>
                          <div class="footer_input">
                              <input type="email" class="footer_getEmail" placeholder="Your email address">
                              <button class="btn footer_getEmail_btn">Subscribe</button>
                          </div>
                      </div>
                  </div>
                  <img src="/assets/imgs/footer_card_img.svg" class="footer_card_img">
              </div>
              <div class="row footer_links">
                  <div class="icon_links">
                      <a href="index.html">
                          <img src="/assets/icons/whiteLogo_icon.svg" class="footer_logo">
                      </a>
                      <div class="socialMedia_links">
                          <a href="#">
                              <img src="/assets/icons/social media/facebook_icon.svg" class="socialMedia_icon">
                          </a>
                          <a href="#">
                              <img src="/assets/icons/social media/twitter_icon.svg" class="socialMedia_icon">
                          </a>
                          <a href="#">
                              <img src="/assets/icons/social media/youtube_icon.svg" class="socialMedia_icon">
                          </a>
                          <a href="#">
                              <img src="/assets/icons/social media/instagram_icon.svg" class="socialMedia_icon">
                          </a>
                      </div>
                  </div>
                  <div class="text_links">
                      <div class="column">
                          <p class="columnLinks_h">Our Destinations</p>
                          <div class="links">
                              <a href="#" class="footer_link">Canada</a>
                              <a href="#" class="footer_link">Alaksa</a>
                              <a href="#" class="footer_link">France</a>
                              <a href="#" class="footer_link">Iceland</a>
                          </div>
                      </div>
                      <div class="column">
                          <p class="columnLinks_h">Our Activities</p>
                          <div class="links">
                              <a href="#" class="footer_link">Northern Lights</a>
                              <a href="#" class="footer_link">Cruising & sailing</a>
                              <a href="#" class="footer_link">Multi-activities</a>
                              <a href="#" class="footer_link">Kayaing</a>
                          </div>
                      </div>
                      <div class="column">
                          <p class="columnLinks_h">Travel Blogs</p>
                          <div class="links">
                              <a href="#" class="footer_link">Bali Travel Guide</a>
                              <a href="#" class="footer_link">Sri Lanks Travel Guide</a>
                              <a href="#" class="footer_link">Peru Travel Guide</a>
                              <a href="#" class="footer_link">Bali Travel Guide</a>
                          </div>
                      </div>
                      <div class="column">
                          <p class="columnLinks_h">About Us</p>
                          <div class="links">
                              <a href="#" class="footer_link">Our Story</a>
                              <a href="#" class="footer_link">Work with us</a>
                          </div>
                      </div>
                      <div class="column">
                          <p class="columnLinks_h">Contact Us</p>
                          <div class="links">
                              <a href="#" class="footer_link">Our Story</a>
                              <a href="#" class="footer_link">Work with us</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  </body>
</html>
