<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/header_style.css" />
  </head>

  <body>
    <header class="header container">
      <div class="row content">
        <div class="icon_links">
          <a href="#" class="link">
            <img src="../icons/black_airplane_icon.svg" />Find Flight
          </a>
          <a href="#" class="link">
            <img src="../icons/black_bed_icon.svg" />Find Stays
          </a>
        </div>
        <a href="index.html" class="logo">
          <img src="../icons/greenLogo_icon.svg" />
        </a>
        <div class="buttons">
            <button class="btn login">Login</button>
            <button class="btn sign_up">Sign up</button>
        </div>
      </div>
    </header>
  </body>
</html>
