<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="js/search_filter_card.js"></script>
    <script src="js/indexHeaderChange.js"></script>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/cards.css">
    <link rel="stylesheet" href="styles/search_filter_card.css" />
    <link rel="stylesheet" href="styles/footer_style.css" />
    <link rel="stylesheet" href="styles/header_style.css" />
    <link rel="stylesheet" href="styles/indexHead_hero.css" />
  </head>

  <body>
    <div class="search_filter_card black_color">
      <div class="search_filter_content">
        <div class="horizontal_line" id="sections_line"></div>
        <div class="sections" id="search_sections">
          <button class="btn black_color" id="airplane_stage">
            <img src="assets/icons/black_airplane_icon.svg" />Find Flight
          </button>
          <div class="vertical_line black_color" id="search_filter_line"></div>
          <button class="btn black_color" id="bed_stage">
            <img src="assets/icons/black_bed_icon.svg" />Find Stays
          </button>
        </div>
        <div class="search_filter_forms">
          <div class="flight_input input_filter">
            <form class="input_filter_stroke">
              <div class="fieldsets">
                <fieldset class="from-to">
                  <legend>From - To</legend>
                  <div class="form_content">
                    <div class="input_group">
                      <img src="assets/icons/swap-horizontal_icon.svg" class="form_icon_left">
                      <select name="from_selector" class="selectpicker" data-dropup-auto="false" data-live-search="true">
                        <option value="Lahore" selected>Lahore</option>
                        <option value="Karachi">Karachi</option>
                      </select>
                      <span class="group-separator">&mdash;</span>
                      <select name="to_selector" class="selectpicker" data-dropup-auto="false" data-live-search="true">
                        <option value="Lahore">Lahore</option>
                        <option value="Karachi" selected>Karachi</option>
                      </select>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="trip">
                  <legend>Trip</legend>
                  <div class="form_content">
                    <div class="input_group">
                      <select name="trip_selector" data-dropup-auto="false" class="selectpicker trip_select">
                        <option value="Return" selected>Return</option>
                        <option value="Single">Single</option>
                      </select>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="departReturn">
                  <legend id="departReturn_legend">Depart - Return</legend>
                  <div class="form_content">
                    <input name="depart_input" autocomplete="off" type="text" class="form-control flight_datepicker" id="depart_datepicker" placeholder="07 Nov 22" onkeypress="return false;" style="caret-color: transparent !important;" required>
                    <span class="group-separator" id="departReturn_separator">&mdash;</span>
                    <input name="return_input" autocomplete="off" type="text" class="form-control flight_datepicker" id="return_datepicker" placeholder="07 Nov 22" onkeypress="return false;" style="caret-color: transparent !important;"  required>
                  </div>
                </fieldset>

                <fieldset class="passengerClass w-auto">
                  <legend>Passenger - Class</legend>
                  <div class="form_content">
                    <input name="passengers_input" type="number" class="passenger_input" placeholder="1" min="1" max="10" pattern="" required>
                    <span>Pasanger, </span>
                    <select name="ticketClass_selector" class="selectpicker" data-dropup-auto="false">
                      <option value="Economy" selected>Economy</option>
                      <option value="Premium economy">Premium economy</option>
                      <option value="Business">Business</option>
                      <option value="First class">First class</option>
                    </select>
                  </div>
                
                </fieldset>
              </div>

              <div class="filter_buttons">
                <button type="button" class="btn addPromoCode_btn black_color">
                  <img src="assets/icons/black_plus_icon.svg" />
                  Add Promo Code
                </button>
                <button type="submit" class="btn showFlight_btn black_color">
                  <img src="assets/icons/black_paperPlane_icon.svg">
                  Show Flights
                </button>
              </div>
            </form>
          </div>
          <div class="bed_input input_filter">
            <form class="input_filter_stroke">
              <div class="fieldsets">
                <fieldset class="enterDestination">
                  <legend>Enter Destination</legend>
                  <div class="form_content">
                    <div class="input_group">
                      <img src="assets/icons/leading_icon.svg" class="form_icon_left">
                      <select name="enterDestination_selector" class="selectpicker" id="mySelect" data-live-search="true" data-size="7" data-display="static" data-dropup-auto="false" required>
                        <option value="" selected disabled>Select option</option>
                        <optgroup label="Turkey">
                          <option value="Istanbul, Turkey">Istanbul</option>
                          <option value="Manavgat, Turkey">Manavgat </option>
                          <option value="Kemer, Turkey">Kemer</option>
                        </optgroup>
                        <optgroup label="Russia">
                          <option value="Moscow, Russia">Moscow</option>
                          <option value="St. Petersburg, Russia">St. Petersburg</option>
                          <option value="Anapa, Russia">Anapa</option>
                        </optgroup>
                        <optgroup label="Canada">
                          <option value="Toronto, Canada">Toronto</option>
                          <option value="Kelowna, Canada">Kelowna</option>
                          <option value="Mont Tremblant, Canada">Mont Tremblant</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="checkIn">
                  <legend id="checkIn_legend">Check In</legend>
                  <div class="form_content">
                    <div class="input_group">
                      <input name="checkIn_input" autocomplete="off" type="text" class="form-control bed_datepicker" id="checkIn_datepicker" placeholder="Fri 12/2" onkeypress="return false;" style="caret-color: transparent !important;" required>
                      <img src="assets/icons/calendar_icon.svg" class="form_icon_right">
                    </div>
                  </div>
                </fieldset>

                <fieldset class="checkOut">
                  <legend>Check Out</legend>
                  <div class="form_content">
                    <div class="input_group">
                      <input name="checkOut_input" autocomplete="off" type="text" class="form-control bed_datepicker" id="checkOut_datepicker" placeholder="Fri 12/2" onkeypress="return false;" style="caret-color: transparent !important;" required>
                      <img src="assets/icons/calendar_icon.svg" class="form_icon_right">
                    </div>
                  </div>
                </fieldset>

                <fieldset class="enterDestination">
                  <legend>Rooms & Guests</legend>
                  <div class="form_content">
                    <div class="input_group">
                      <box-icon type='solid' name='user' class="form_icon_left"></box-icon>
                      <select name="trip_selector" data-dropup-auto="false" class="selectpicker trip_select">
                        <option value="1 room, 1 guest" selected>1 room, 1 guest</option>
                        <option value="1 room, 2 guests">1 room, 2 guests</option>
                        <option value="1 room, 2 guests">2 room, 2 guests</option>
                      </select>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="filter_buttons">
                <button type="button" class="btn addPromoCode_btn black_color" id="addPromoCode_btn">
                  <img src="assets/icons/black_plus_icon.svg" />
                  Add Promo Code
                </button>
                <button type="submit" class="btn showBed_btn black_color">
                  <img src="assets/icons/black_building_icon.svg">
                  Show Places
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
