@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #112211;
}

header {
  position: sticky;
  z-index: 10;
  top: 0px;
}

.container {
  max-width: 1380px;
  margin: auto;
  padding: 0 5.78125vw;
}

.header.container {
  padding: 0;
}

a {
  color: #112211;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

a:hover {
  color: #72ad96;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 6.25vw;
  cursor: default;
  margin: 0;
}

h2 {
  font-size: 2.8125vw;
  font-weight: 600;
  cursor: default;
}

h3 {
  font-size: 1.875vw;
  font-weight: 700;
  cursor: default;
}

p {
  font-size: 1.5625vw;
  font-weight: 500;
  cursor: default;
}

hr {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon_links {
  display: flex;
}

button {
  display: flex;
  gap: 4px;
  cursor: pointer;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  background: none;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 0.2s ease-in;
  font-size: 14px;
}

.btn:hover {
  background-color: #bad6cc;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
}

div.dropdown-menu.show {
  top: 2px !important;
  width: inherit;
}

div.inner.show {
  overflow-y: unset !important;
}

.bootstrap-select {
  width: 130px !important;
}

.btn-light {
  color: #1c1b1f !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.no-results {
  display: none;
}
 
.form-control:focus {
  color: #112211;
  background-color: #fff;
  border-color: #79747e;
  outline: 0;
  box-shadow: none;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #8dd3bb;
}

.link {
  display: flex;
  align-items: center;
  gap: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical_line {
  font-weight: 600;
}

fieldset {
  color: #112211;
  border: 1px solid #79747e;
  border-radius: 4px;
}

legend {
  font-weight: 400;
  font-size: 14px;
  padding: 0 4px;
  margin: 0;
  width: max-content;
  text-align: start;
  margin: 0 0 0 16px;
}

input::placeholder {
  color: #1c1b1f;
  font-weight: 400;
}

.group-separator {
  margin-left: 8px;
  margin-right: 8px;
  color: #1c1b1f;
  font-weight: 500;
}

.btn-light {
  background: none !important;
}
