@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #112211;
}

.container {
  max-width: 1380px;
  margin: auto;
  padding: 0 5.78125vw;
}

.header.container {
  padding: 0;
}

a {
  color: #112211;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

a:hover {
  color: #72AD96;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  cursor: default;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  cursor: default;
}

p {
  font-size: 20px;
  font-weight: 500;
  cursor: default;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon_links {
  display: flex;
}

.btn {
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background-color: #bad6cc;
}

.link {
  display: flex;
  align-items: center;
  gap: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical_line {
  font-weight: 600;
}