@media (max-width: 670px) {
  .btn {
    padding: 1.1346998535871156vw 1.171303074670571vw !important;
  }
  .account_elements .profile {
    transform: translateY(-45px) !important;
  }
  .account_elements .avatar {
    width: 110px !important;
    height: 110px !important;
  }
  .account_elements .arrowDown {
    width: 25px !important;
    height: 25px !important;
  }
  .bg_btn {
    bottom: unset !important;
    top: 1.9033674963396778vw;
  }
  .account_elements .profile {
    gap: 1rem !important;
  }
  .account_elements .name {
    font-size: 1.2rem !important;
  }
  .table {
    padding: 12px 16px !important;
  }
  .container {
    padding: 0 32px;
  }
}

@media (max-width: 860px) {
  .horizontal_line-md {
    width: 25% !important;
  }
}

html {
  background: #fafbfc;
}

.btn {
  padding: 15.5px 16px;
  border-radius: 4px;
}

.profile_head {
  position: relative;
  margin-top: 48px;
}

.profile_bg {
  position: relative;
  border-radius: 12px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 350px;
}

.bg_btn {
  position: absolute;
  right: 1.9033674963396778vw;
  bottom: 1.9033674963396778vw;
}

.account_elements > .container {
  display: flex;
  justify-content: center;
}

.account_elements .profile {
  transform: translateY(-85px);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.account_elements .avatar {
  width: 160px;
  height: 160px;
  border: 4px solid #FF8682;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.08));
}

.account_elements .arrowDown {
  width: 44px;
  height: 44px;
}

.account_elements .arrowDown img {
  width: 55%;
}

.account_elements .name {
  font-size: 1.5rem;
}

.profileText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profileDescription {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  color: #112211;
  opacity: 0.75;
}

.account_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.window {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
  border-radius: 12px;
}

#account .window {
  gap: 32px;
}

.tab-content>.active {
  display: flex;
  gap: 16px;
  text-align: start;
  flex-direction: column;
  align-items: flex-start;
}

.horizontal_line-md {
  position: absolute;
  width: 215px;
  height: 0px;
  left: 24px;
  bottom: 0;

  border: 3px solid #8DD3BB;

  transition: 0.5s;
}

.stage_title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: #000000;
}

.rowText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0px;
  gap: 8px;
  overflow-wrap: anywhere;
}

.rowName {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #112211;
  opacity: 0.75;
}

.rowData {
  display: flex;
  gap: 24px;
  font-weight: 500;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: #112211;
}

._row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 32px;
}

.edit_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15.5px 32px;
  gap: 4px;
  font-size: 1rem;
  white-space: nowrap;
  border: 1px solid #8DD3BB;
  border-radius: 4px;
  line-height: unset;
}

.container-fluid {
  padding: 0;
}

.change_input {
  height: 32px;
  border: 1px solid #79747e;
  border-radius: 4px;
  padding-left: 8px;
}

.change_form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.inputs {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}