@media (max-width: 500px) {
  #history .window {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .historyCard_content {
    justify-content: center;
  }
  .edit_btn-text {
    display: none;
  }
  .edit_btn {
    padding: 16px;
  }
}

@media (max-width: 515px) {
  .vertical_line {
    display: none;
  }
  #navbar_account {
    display: none;
  }
  #account_navigation {
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 670px) {
  .account_elements .profile {
    transform: translateY(-45px) !important;
  }
  .account_elements .avatar {
    width: 110px !important;
    height: 110px !important;
  }
  .account_elements .arrowDown {
    width: 25px !important;
    height: 25px !important;
  }
  .bg_btn {
    bottom: unset !important;
    top: 1.9033674963396778vw;
  }
  .account_elements .profile {
    gap: 1rem !important;
  }
  .account_elements .name {
    font-size: 1.2rem !important;
  }
  .table {
    padding: 12px 16px !important;
  }
  .container {
    padding: 0 32px;
  }
  .profile_bg {
    height: 220px !important;
  }
}

@media (min-width: 544px) {
  .modal-dialog {
      max-width: 640px;
  }
}

@media (max-width: 860px) {
  .horizontal_line-md {
    width: 25% !important;
  }
  .historyCard_content .vertical_line {
    display: none;
  }
}

html {
  background: #fafbfc;
}

.btn {
  padding: 15.5px 16px;
  border-radius: 4px;
}

.profile_head {
  position: relative;
  margin-top: 48px;
}

.profile_bg {
  position: relative;
  border-radius: 12px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 350px;
}

.bg_btn {
  position: absolute;
  right: 1.9033674963396778vw;
  bottom: 1.9033674963396778vw;
}

.account_elements > .container {
  display: flex;
  justify-content: center;
}

.account_elements .profile {
  transform: translateY(-85px);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.account_elements .avatar {
  width: 160px;
  height: 160px;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.08));
}

.account_elements .arrowDown {
  width: 44px;
  height: 44px;
}

.account_elements .arrowDown img {
  width: 55%;
}

.account_elements .name {
  font-size: 1.5rem;
}

.profileText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profileDescription {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  color: #112211;
  opacity: 0.75;
}

.account_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.window {
  padding: 16px 24px;
  gap: 32px;
}

#payment .window {
  gap: 0px;
}

#payment .window {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

.tab-content>.active {
  display: flex;
  gap: 16px;
  text-align: start;
  flex-direction: column;
  align-items: flex-start;
}

.stage_title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: #000000;
}

.rowText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0px;
  gap: 8px;
  overflow-wrap: anywhere;
}

.rowName {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #112211;
  opacity: 0.75;
}

.rowData {
  display: flex;
  gap: 24px;
  font-weight: 500;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: #112211;
}

._row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 32px;
}

.edit_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15.5px 32px;
  gap: 4px;
  border: 1px solid #8DD3BB;
  border-radius: 4px;
  line-height: unset;
}

.edit_btn-text {
  font-size: 1rem;
  white-space: nowrap;
  color: #112211;
}

.container-fluid {
  padding: 0;
}

.change_input {
  height: 32px;
  border: 1px solid #79747e;
  border-radius: 4px;
  padding-left: 8px;
}

.change_form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.inputs {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.payCard {
  max-width: 357px;
  min-width: 270px;
  width: 100%;
  height: 212px;
  border-radius: 16px;
}

.payCard:hover {
  box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.2);
}

.added_payCard {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 57px;
  background: #8DD3BB;
}

#newPayCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  border: 2px dashed #8DD3BB;
  cursor: pointer;
  transition: all 0.3s;
}

.newPayCard_text {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #112211;
  cursor: pointer;
}

.newPayCard_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #000000;
}

.newPayCard_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 40px;
}

.newPayCard_submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.newPayCard_inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 100%;
}

.modal .close:hover {
  background: none;
}
.close {
  color: #000000;
  opacity: unset;
}
.close span {
  cursor: pointer;
}
.modal-header {
  border: none;
  padding: 0;
}
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 48px;
  border: none;
  padding: 0;
}
.modal-content {
  border: none;
  border-radius: 12px;
  background: #FFFFFF;
  padding: 64px;
}
.modal-content fieldset,
.modal-content .btn {
  width: 100%;
}

.secondDataCard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 24px;
  align-items: flex-start;
}

.remenderCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.remenderCard-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #112211;
}

.modal-content input[type="checkbox"] {
  width: 22px;
  height: 22px;
}

.newPayCard_submitAbout {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #112211;
  opacity: 0.75;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

fieldset .form-control {
  width: 98%;
  text-align: start;
  height: 30px !important;
  padding: 0 8px;
  scrollbar-width: thin;
}
.dropdown-toggle {
  padding: 0;
}
div.dropdown.bootstrap-select {
  width: 100% !important;
  padding: 0 14px;
}
input[type="search"] {
  cursor: text;
}

.modal-content .msg {
  width: 100%;
  text-align: center;
}

.payCard_asterisks {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #112211;
}

.payCard_num {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #112211;
}

.payCard_head {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  padding: 0px;
  gap: 16px;
}

.payCard_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.payCard_foot {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.payCard_name {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #112211;
}

.payCard_exp {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #112211;
}

.added_payCard .logo {
  width: 51px;
  height: 40px;
  margin-right: -6px;
}

.deleteCard {
  cursor: pointer;
}


#history .window {
  flex-direction: row;
  justify-content: unset;
  padding: 32px 24px;
}

.historyCard_img {
  max-width: 95px;
  min-height: 95px;
  width: 100%;
  height: 80px;
  border: 0.5px solid #8DD3BB;
  border-radius: 8px;
  order: 0;
}

.historyCard_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
  gap: 24px;
  order: 1;
}

.historyCard_btns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  order: 2;
}

.seeMore_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 48px;
  border: 1px solid #8DD3BB;
}

.historyCard_mainInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.historyCard_secondInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.historyCard_info-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.historyCard_info-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.historyCard-city {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #112211;
  opacity: 0.75;
}

.historyCard-time {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #112211;
}

.historyCard_mainInfo-dash {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #112211;
}

.historyCard_secondInfo-data {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #112211;
  opacity: 0.6;
}

.historyCard_secondInfo-value {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #112211;
}

.historyCard_secondInfo-img {
  width: 32px;
  height: 32px;
  background-color: #EBF6F2;
  border-radius: 4px;
}

.historyCard_secondInfo-textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.window > .historyCard_content {
  width: 100%;
}

.container.account_content#payment {
  margin-top: 85px;
}