.header {
  background: none;
}

.hero.content {
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 0;
}

#indexHero {
  padding: 0 24px;
}

.indexHead_hero {
  background-image: url(../assets/imgs/mainHead_img.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color: white;
  margin-top: 30px;
}

.circle_ellipse {
  width: 7.8125vw;
  height: 7.8125vw;
  border: none;
  border-radius: 50%;
  background: #d9d9d9;
}

.head_hero_text {
  font-size: 3vw;
  font-weight: 700;
}

.indexHero_about {
  font-weight: 600;
}
