.review_card > img {
    border-radius: 8px;
    width: 100%;
}

.reviews_cards {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.review_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 40px;
  background: #ffffff;
  box-shadow: 2px 4px 16px rgba(17, 34, 17, 0.1),
    16px 20px rgba(141, 211, 187, 0.4);
  border-radius: 20px;
  max-width: 425px;
}

.reviewCard_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.reviewCard_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  align-self: stretch;
  order: 0;
  text-align: start;
}

.reviewCard_estimate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  align-self: stretch;
  order: 1;
}

.reviewCard_title {
  font-size: 24px;
  font-weight: 700;
}

.reviewCard_about {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reviewCard_aboutText {
  font-weight: 500;
  opacity: 0.5;
}

.reviewCard_aboutMore {
  font-weight: 700;
}

.reviewCard_stars {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: start;
  order: 0;
}

.reviewCard_user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  order: 1;
}

.reviewCard_user_about {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: start;
}

.reviewCard_user_aboutMore {
  font-weight: 500;
  opacity: 0.5;
}

.reviewCard_user_google a {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 8px;
  align-items: center;
}

.reviewCard_user_googleText {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.5;
}

.more {
  display: none;
}

.readBtn {
  display: flex;
  justify-content: end;
  transition: color 0.2 ease-in;
  cursor: pointer;
}

.readBtn:hover {
  color: #72ad96;
}