@media (min-width: 992px) {
  h1 {
    font-size: 80px !important;
  }
  .head_hero_text {
    font-size: 45px !important;
  }
  p {
    font-size: 20px !important;
  }
}

.search_filter_card {
  color: #1c1b1f;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(141, 211, 187, 0.15);
  border-radius: 16px;
  margin: 0 23px;
}

.search_filter_content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 16px 32px 32px 32px;
}

.search_filter_content .link {
  gap: 8px;
}

.input_filter {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.input_filter_stroke {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hotel_input_fliter_stroke {
  display: flex;
  gap: 16px;
}

.filter_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  height: 52px;
}

.filter_buttons > button {
  font-weight: 500;
}

.addPromoCode_btn {
  padding: 15.5px 16px;
}

.showFlight_btn,
.showBed_btn {
  background: #8dd3bb;
}

.input_group {
  display: flex;
  align-items: center;
}

.form_content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  margin-right: 6px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.field_input {
  width: 80px;
  border: none;
  outline: none;
}

fieldset .dropdown-menu {
  margin-top: 8px;
  margin-right: -14px;
  width: 314px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top: none !important;
  border-left: 1px solid #79747e;
  border-right: 1px solid #79747e;
  border-bottom: 1px solid #79747e;
}

.fieldsets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.passenger_input,
.passenger_input:active {
  width: 40px;
  border: none;
  outline: none;
  text-align: center;
  color: #1c1b1f;
  font-weight: 400;
  font-size: 16px;
}

.w-auto .bootstrap-select {
  width: 200px !important;
}

.ui-widget.ui-widget-content {
  transform: translate3d(0px, 17px, 0px);
}

.departReturn {
  display: flex;
  align-items: center;
}

.ui-corner-all {
  border-radius: 4px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background: #8dd3bb;
  border: 1px solid #8dd3bb;
}

.ui-widget-header {
  font-weight: 500;
}

.ui-datepicker th {
  font-weight: 500;
}

.addPromoCode_input {
  border: 1px solid #79747e;
  border-radius: 4px;
  color: #1c1b1f;
  padding: 0 8px;
  order: -1;
}

#airplane_stage,
#bed_stage {
  display: flex;
  align-items: center;
  text-align: center;
}

#airplane_stage:hover,
#bed_stage:hover {
  background: none;
  color: #72ad96;
}

.horizontal_line {
  position: relative;
  width: 120px;
  left: -6px;
  top: 55px;

  border: 2px solid #8DD3BB;

  transition: 0.5s;
}

.sections > .btn {
  padding: 0;
}

.search_filter_forms {
  display: flex;
}

.bed_input {
  display: none;
}

.search_filter_card .sections {
  margin-top: -35px;
}

.enterDestination .bootstrap-select {
  width: 300px !important;
}

.form_icon_left {
  margin-left: 12px;
}

.form_icon_right {
  margin-right: 12px;
}

.bed_datepicker {
  text-align: start;
  width: 105px;
  margin-left: 12px;
}