@media (max-width: 1340px) {
  #search-btn {
    width: 100% !important;
    margin-top: 8px;
  }
}

@media (max-width: 1258px) {
  .fieldsets {
    gap: 18px !important;
    justify-content: space-evenly !important;
  }
}

@media (max-width: 720px) {
  .fieldsets {
    justify-content: unset !important;
  }
}

.listing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 48px;
}

.listing-row {
  display: flex;
  flex-direction: row;
  gap: 39.5px;
  justify-content: space-between;
}

.search_filter_card {
  max-width: unset;
}

#search-btn {
  width: 56px;
  height: 56px;
  transition: unset;
}

.bootstrap-select {
  width: 140px !important;
}


.form-control {
  width: 110px !important;
}

@media (max-width: 450px) {
  .bootstrap-select {
    width: 28.111vw !important;
  }

  .form-control {
    width: 24.444vw !important;
  }

  .passengerClass .bootstrap-select {
    width: 26.889vw !important;
  }
}

.bed_input {
  display: unset;
}

.bed_input .form-control {
  width: 140px !important;
}

.enterDestination .bootstrap-select {
  width: 270px !important;
}

@media (max-width: 420px) {
  .enterDestination .bootstrap-select {
    width: 58.286vw !important;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.filter-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #112211;
}

hr {
  color: #112211;
  opacity: 0.75;
  width: 100%;
}

.filter-input {
  width: 100%;
}

.fold {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.toggler {
  border: none;
}
.toggler:hover {
  background: none;
}

.collapse-title,
.card-time {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #112211;
  white-space: nowrap;
}

.collapse-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  margin-top: 16px;
}

.selector {
  position: relative;
  width: 100%;
  color: #112211;
}

.selector ul {
  position: relative;
  display: block;
  overflow: auto;
  min-width: 138px;
  max-height: 200px;
  background: #fff;
  list-style: none;
  white-space: inherit;
  padding-right: 17px;
  width: calc(100% + 17px)
}

.selector .data-slider {
  text-align: center;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background: #fafbfc;
}

.selector .data-slider:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 0;
  color: #39c9a9;
  content: attr(data-currency);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.selector #slider-range {
  width: 90%;
  margin-bottom: 30px;
  border: none;
  background: #e2f7f2;
  height: 3px;
  margin-left: 8px;
  margin-right: 8px
}

@media (min-width: 768px) {
   .selector #slider-range {
      width:100%
  }
}

.selector .ui-slider-handle {
  border-radius: 50%;
  background-color: #39c9a9;
  border: none;
  top: -9px;
  width: 20px;
  height: 20px;
  outline: none
}

@media (min-width: 768px) {
  .selector .ui-slider-handle {
      top:-7px;
      width: 16px;
      height: 16px
  }
}

.selector .ui-slider-range {
  background-color: #d7d7d7
}

.selector .slider-data:before {
  color: #112211;
  content: attr(data-currency);
}

.selector .show-all {
  position: relative;
  padding-left: 25px;
  color: #39c9a9;
  cursor: pointer;
  line-height: 28px
}

.selector .show-all:after, .selector .show-all:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -1px;
  color: #39c9a9;
  width: 10px;
  border-bottom: 1px solid
}

.selector .show-all:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.selector.open ul {
  max-height: none
}

.selector.open .show-all:after {
  display: none
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.5em !important;
}

.filter-input-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 100%;
}
.filter-input-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.filter-input-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

label[class="btn"] {
  position: relative;
  border: 1px solid #8DD3BB;
  border-radius: 4px;
  z-index: 1;
  cursor: pointer;
}
label p {
  position: relative;
  margin: auto;
  font-weight: 500;
  font-size: 1rem !important;
  color: #112211;
  z-index: 1;
  cursor: inherit;
}
.label-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: inherit;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .label-bg {
  background: #8dd3bb;
}

.window {
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
  border-radius: 12px;
  width: 100%;
  position: relative;
}

.listing-left-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 343px;
  width: 100%;
}

.listing-right-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 24px; 
  width: 100%;
}

.listing-hotel {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.nav-item {
  cursor: pointer;
}

.anotherFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 24px;
  isolation: isolate;
  width: 100%;
}

.anotherFilter-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.anotherFilter-link-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #112211;
  cursor: inherit;
}

.anotherFilter-link-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  cursor: inherit;
}

.anotherFilter-link-text,
.card-textDescription {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #112211;
  opacity: 0.4;
  cursor: inherit;
  white-space: pre-wrap;
}

.anotherFilter-link-otherText {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #112211;
  cursor: inherit;
}

#other {
  flex-direction: row;
}

.horizontal_line-md {
  width: 17%;
  transform: translateX(-7px);
}

.row {
  width: 100%;
}

.listing-card-right .row {
  gap: 8px;
}

.showing-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #112211;
}

.sort_by {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #112211;
}

.listing-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 100%;
}

.listing-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 16px;
}

.airlines-img {
  max-width: 160px;
  min-width: 160px;
  max-height: 111px;
  min-height: 111px;
  width: 100%;
  height: 100%;
}

.hotel-img {
  position: absolute;
  max-width: 300px;
  min-width: 300px;
  width: 100%;
  height: 100%;
  left: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.hotel-img-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  width: 72px;
  height: 32px;
  top: 8px;
  right: 8px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #112211;
  opacity: 0.75;
}

.listing-card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 24px;
  gap: 16px;
  width: 100%;
}

.listing-card-review {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #112211;
}

.listing-card-priceStarting {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #112211;
  opacity: 0.75;
}
.listing-card-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #FF8682;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 100%;
}

.card-content-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}

.card-checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.card-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

.card-favourite-btn,
.card-view-btn,
#show-more-results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 4px;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.card-favourite-btn {
  border: 1px solid #8DD3BB;
}

.card-view-btn {
  width: 100%;
  background: #8DD3BB;
}

#show-more-results {
  width: 100%;
  background: #112211;
  color: white;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background: #112211;
  opacity: 0.1;
}

.listing-separator {
  position: absolute;
  width: 2px;
  height: 100%;
  left: -24px;
  background: #112211;
  opacity: 0.04;
}

.filter-connector {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
  width: 100%;
}

#hotels-underline {
  width: 29%;
}

.card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: start;
  color: #112211;
}

.hotel-card {
  padding: 0;
  justify-content: flex-end;
}

.hotel-card .listing-card-right {
  padding: 24px;
  width: calc(100% - 300px);
}

.hotel-star {
  color: #FF8682;
}

@media (max-width: 1324px) {
  .listing-hotel .row.g-32 {
    gap: 8px !important;
  }
}
@media (max-width: 1250px) {
  .listing-left-content {
    width: unset;
  }
  .filter-input-row {
    flex-wrap: wrap;
  }
}
@media (max-width: 950px) {
  .listing-row {
    flex-direction: column;
  }
  .listing-left-content {
    max-width: unset;
  }
  .filter hr,
  .listing-separator {
    display: none;
  }
  .filter-connector {
    flex-direction: row;
  }
}
@media (max-width: 700px) {
  .listing-card {
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .hotel-img {
    height: 250px;
    top: 0;
    max-width: unset;
    min-width: unset;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 12px;
  }
  .hotel-card .listing-card-right {
    width: 100%;
    margin-top: 250px;
  }
}
@media (max-width: 590px) {
  .anotherFilter {
    flex-wrap: wrap;
  }
  .horizontal_line-md {
    width: 215px;
  }
  .anotherFilter .vertical_line {
    display: none;
  }
}
@media (max-width: 500px) {
  .card-content-row {
    gap: 20px;
  }
  .card-time {
    white-space: pre-wrap;
  }
}
@media (max-width: 455px) {
  #flight .row {
    flex-wrap: wrap-reverse;
  }
  #flight .card-price {
    width: 100%;
    text-align: end;
  }
  .filter-connector {
    gap: 20px;
  }
}
@media (max-width: 417px) {
  .row.g-8[style="height: 32px"] {
    height: unset !important;
  }
}
@media (max-width: 370px) {
  .card-content-row {
    gap: 0px;
  }
}