@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@media (max-width: 670px) {
  .container_in {
    margin: 5.856515373352855vw 0 0 0 !important;
  }

  .cards_about_title {
    font-size: large !important;
  }

  fieldset input {
    font-size: 14px !important;
  }
}

@media (min-width: 992px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar:vertical {
    width: 9px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 9px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 2px solid #ffffff;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: white;
  }
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
  background: #fafbfc;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #112211;
  background: #fafbfc;
  padding: 0 !important;
}

body::before {
  content: "";
  background: #ffffff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin: auto;
  padding: 0 5.78125vw;
}

.container_in {
  margin: 5.856515373352855vw 4.392386530014641vw 0 4.392386530014641vw;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

a:hover {
  color: #72ad96;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 6.25vw;
  cursor: default;
  margin: 0;
}

h2 {
  font-size: 2.8125vw;
  font-weight: 600;
  cursor: default;
}

h3 {
  font-size: 1.875vw;
  font-weight: 700;
  cursor: default;
}

p {
  font-size: 1.5625vw;
  font-weight: 500;
  cursor: default;
}

span {
  cursor: default;
}

hr {
  margin: 0;
}

div {
  cursor: default;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon_links {
  display: flex;
}

input {
  color: inherit;
  cursor: auto;
}

input::placeholder {
  color: inherit;
  opacity: 0.75;
  font-weight: 400;
  transition: color 0.3s ease-in;
}

input:focus::placeholder {
  color: background;
}

input:focus,
input:active {
  outline: none !important;
  box-shadow: none !important;
}

button {
  display: flex;
  gap: 4px;
  cursor: pointer;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  background: none;
  font-weight: 600;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 0.2s ease-in;
  font-size: 1rem;
  border-radius: 8px;
}

.btn:hover,
.btn:active {
  background: #bad6cc;
}

button:hover,
button:active {
  background: #bad6cc;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
}

.dropdown-menu {
  width: max-content;
}

fieldset div.dropdown-menu.show {
  top: 2px !important;
  width: inherit;
  overflow-y: scroll !important;
  transform: translate3d(0px, 30px, 0px) !important;
  z-index: 10;
}

div.inner.show {
  overflow-y: unset !important;
}

.bootstrap-select {
  width: 100px !important;
}

.btn-light {
  color: #1c1b1f !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.none,
.no-results {
  display: none;
}

.form-control {
  padding: 0;
  text-align: center;
  width: 110px;
  background-color: #fff !important;
  border: none !important;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #112211;
}

.form-control::placeholder {
  font-size: 15px;
  transition: color 0.3s ease-in;
}

.form-control:focus::placeholder {
  color: background;
}

.form-control:focus {
  color: #112211;
  box-shadow: none;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #8dd3bb;
}

.link {
  display: flex;
  align-items: center;
  gap: 4px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.link:hover {
  color: #72ad96;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical_line {
  font-weight: 500;
  width: 0px;
  height: 48px;
  border: 1px solid #d7e2ee;
}

fieldset {
  color: #112211;
  border: 1px solid #79747e;
  border-radius: 4px;
  height: 64px;
  display: flex;
  justify-content: space-between;
}

fieldset input {
  width: 98%;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  margin-left: 6px;
  background: none;
}

legend {
  font-weight: 400;
  font-size: 1rem;
  padding: 0 4px;
  margin: 0;
  width: max-content;
  text-align: start;
  margin: 0 0 0 16px;
  cursor: default;
}

.group-separator {
  color: #1c1b1f;
  font-weight: 500;
}

.btn-light {
  background: none !important;
}

.show_btn {
  background: #8dd3bb;
}

.nav-tabs {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  border: none;
  justify-content: space-between;
  align-items: center;
}

li.nav-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
  background: none;
  border: none;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none;
}

.nav-item > .nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #112211;
  line-height: 20px;
}

.nav-item > .nav-link:hover,
.nav-item > .nav-link:active {
  color: #72ad96;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover {
  color: #112211;
}

.massage {
  width: 100%;
}

.msg {
  position: relative;
  top: 8px;
  left: 12px;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.error_field {
  border: 1px solid red;
  color: red;
}

.warning_msg {
  color: red;
}

.success_msg {
  color: green;
}