.download-ticket {
  display: flex;
  flex-wrap: nowrap;
}

.ticket {
  display: flex;
  border: 1px solid #EAEAEA;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
}

.date-time-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  background: #EBF6F2;
  width: max-content;
  white-space: nowrap;
}

.date-time-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #112211;
}

.date-time-about {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #112211;
  opacity: 0.6;
}

.mainInfo-ticket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: #FFFFFF;
  width: 100%;
}

.date-time-icon {
  width: 24px;
  height: 24px;
  opacity: 0.25;
}

.ticket-head {
  display: flex;
  padding: 24px;
  gap: 8px;
  align-items: center;
  background: #8DD3BB;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ticket-head-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #112211;
  max-width: 228px;
  text-align: end;
}

.ticket-body {
  display: flex;
  padding: 24px;
  gap: 32px;
  flex-wrap: wrap;
}

.ticket-footer {
  position: relative;
  min-height: 92.5px;
}

.avatar {
  width: 48px;
  height: 48px;
}

.avatar.user {
  border: 2px solid #FFFFFF;
}

.avatar.moderator {
  border: 2px solid #008255;
}

.avatar.admin {
  border: 2px solid #ff8682;
}

.ticket-body-img {
  width: 32px;
  height: 32px;
  background-color: #EBF6F2;
  border-radius: 4px;
}

.ticket-body-data {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #112211;
  opacity: 0.6;
}

.ticket-body-value {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #112211;
}

#ticket-fly-info {
  position: absolute;
  width: max-content !important;
  top: 0;
  left: 30px;
}

#ticket-barcode {
  position: absolute;
  right: 0;
  bottom: 0;
}

.secondInfo-ticket {
  min-width: 375px;
  min-height: 300px;
  background-color: #ffffff;
  border: 1px solid #EAEAEA;
  border-radius: 16px;
  background-size: 200px 200px;
}

#user {
  flex-wrap: nowrap;
  white-space: nowrap;
}

@media (max-width: 1385px) {
  .download-ticket {
    flex-wrap: wrap;
  }
  .secondInfo-ticket {
    width: 100%;
    min-width: unset;
  }
}
@media (max-width: 914px) {
  .ticket-head-text {
    text-align: start;
  }
}
@media (max-width: 665px) {
  .ticket {
    flex-wrap: wrap;
  }
  .date-time-info {
    width: 100%;
    align-items: center;
  }
  #user {
    flex-wrap: wrap;
    white-space: pre-wrap;
  }
}
@media (max-width: 415px) {
  .ticket-footer {
    min-height: 142px;
  }
}